<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Add new activity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <style>
        body {
            background-color:  #333333;
            margin:20px;
            color: white;
            font-size: 18px;
        }
    </style>
</head>

<body>
<div class="container mt-3">
     <h1 class="mt-3" style="background-color: #ffcc00; color: #1a1400; padding: 30px; border-radius: 10px; margin-bottom: 30px;">
    	Edit activity
    </h1>
    <div>
	    <form th:object="${activity}" th:action="@{/saveActivity}" action="#" method="post">
	    <input type="hidden" th:field="*{id}" class="form-control"/>
	        <div class="row">
	            <div class="col-md-6 form-group">
	                <label for="activityType">Activity:</label>
	                <select th:field="*{activityType}" class="form-control">
	                    <option value="training">Training</option>
	                    <option value="game">Game</option>
	                </select>
	            </div>
	            <div class="col-md-6 form-group">
	                <label for="arena">Arena:</label>
	                <input type="text" class="form-control" th:field="*{arena}" />
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-6 form-group">
					<label for="beginTime">Begin:</label>
				    <input type="text" id="beginTime" class="form-control" th:field="*{beginTime}"/>
				</div>
	            <div class="col-md-6 form-group">
				    <label for="finishTime">Finish:</label>
				    <input type="text" class="form-control" th:field="*{finishTime}" />
				</div>
	        </div>
	        <div class="row">
	            <div class="col-md-6 form-group">
	                <label for="extraInfo">Extra Info:</label>
	                <input type="text" class="form-control" th:field="*{extraInfo}" />
	            </div>
	            <div class="col-md-6 form-group">
	                <label for="team">Team:</label>
	                <select th:field="*{team}" class="form-control">
	                    <option th:each="team : ${teams}" th:value="${team.teamId}" th:text="${team.name}"></option>
	                </select>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-12 form-group">
	                <input type="submit" class="btn btn-primary" value="Save" />
	            </div>
	        </div>
	    </form>
	  </div>  
</div>
</body>
</html>
