<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login form</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/> 
		<style>
		        body {
		            display: flex;
		            align-items: center;
		            flex-direction: column;
		            background-color:  #333333;
		            margin:20px;
		            color: white;
		        }
		        h1{
		    	background-color: #ffcc00; 
		    	color: #1a1400; 
		    	padding: 30px; 
		    	border-radius: 10px; 
		    	margin-bottom: 30px;
		    	}
		    	.login-form{
		    	margin-bottom: 20px;
		    	}
		 </style>
	 </head>
	<body>
	    
	     	<h1> Please log in</h1>
	        <div class="alert alert-danger" th:if="${param.error}">
	            Invalid username and password.
	        </div>
	        
	        <div class="alert alert-warning" th:if="${param.logout}">
	            You have been logged out.
	        </div>
			<form th:action="@{/login}" method="post" class = "login-form">
		    	<div><label> User Name : <input type="text" name="username" class="form-control"/> </label></div>
		       	<div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
		        <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
		    </form>
	</body>
</html>